backup-files/
auto-save-list/
*~
*.dat
*.elc
bookmarks
/.places
recentf

/tramp
/mysnippets/text-mode/Nicklas Haglund.yasnippet
/mysnippets/text-mode/kgpet.yasnippet
/.org-id-locations
/.#custom.el
/#custom.el#
/xkcd/1155.json
/xkcd/1155.png
/xkcd/1194.json
/xkcd/1194.png
/xkcd/1318.json
/xkcd/1318.png
/xkcd/1348.json
/xkcd/1348.png
/xkcd/latest
